.program {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.program__title {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 37px;
  margin-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program__text {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 39px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
