.button {
  display: inline-block;
  font-family: $primary-font-family;
  font-weight: 400;
  text-transform: uppercase;
  color: $tertiary-font-color;
  text-align: center;
  vertical-align: middle;
  background-color: #68b738;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &--promo {
    width: 280px;
    margin: auto auto 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
  }

  &--program {
    width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
    padding-left: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
